version: "3.8"

services:
  redis:
    image: redis:7.0
    container_name: weather_redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 10s
      retries: 5

  app:
    build: .
    container_name: weather_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      API_KEY: ${API_KEY}
    depends_on:
      redis:
        condition: service_healthy  

